    body{
        background: #ebc76c;
        background: linear-gradient(180deg, rgba(235, 199, 108, 1) 0%, rgba(148, 187, 233, 1) 100%);
        background-repeat: no-repeat;
        box-sizing: border-box;
        font-family: "Lato", sans-serif;
        padding: 10px;
    }

    nav{
        height: 60px;
        background-color:#f3f3f4 ;
        display: flex;
        justify-content: space-evenly;
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        margin: 10px;
    }
    
    ol{
        list-style: none;
        padding-inline-start: 0px;
    }


    a{
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        color: black
        ;
    }

    h1{
        text-align: center;
        font-weight: 700;
        font-style: normal;
    }

    .articleInfo{
        display: flex;
    }
    
    .parrafoHeader{
        text-align: center;
    }

    .KTM:hover{
        transition: all ease-in-out 100ms ;
        color: orange;
    }

    .Kawasaki:hover{
        transition: all ease-in-out 100ms ;
        color:green;
    }

    .Aprilia:hover{
        transition: all ease-in-out 100ms ;
        color: red;
    }

    .Ducati:hover{
        transition: all ease-in-out 100ms ;
        color: red;
    }

    .BMW:hover{
        transition: all ease-in-out 100ms ;
        color: rgb(24, 156, 200);
    }

    .sectionBanner{
        width: 100%;
        height: 600px;
        margin-bottom: 10px;
    }

    .heroBanner{
        width: 100%;
        height: 100%;
        scale: 100%;
        background-size: cover;
        background-position: center center;
        aspect-ratio: 16/9;
        border-radius: 2%;
    }

    .articleInfo{
        margin-bottom: 10px;
    }

    .secSobreMi{
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 15px;
        width: 60%;
        box-sizing: border-box;
        margin-right: 10px;
    }

    .asideSobrePagina{
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        margin-left: 5px;
        padding: 15px;
        width: 40%;
        box-sizing: border-box;
    }

    .footer{
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        text-align: center;
    }

    .infoContacto{
        background: rgba(12, 12, 12, 0.486);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 15px;
        width: 60%;
        box-sizing: border-box;
        margin-right: 10px;
        text-align: left;
    }


    /* PAGINA DE KTM */

    .dukeContainer{
        display: flex;
        justify-content: center;
    }
    .ktmDuke:hover{
        scale: 110%;
        transition: all ease-in-out 400ms;
    }
    
    .ktmDuke{
        padding-bottom: 20px;
    }
    
    .seccionInfo{
        display: flex;
    }

    .articuloKtm{
        width: 75%;
    }

    .asideRanking{
        width: 25%;
    }
